<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card Tracker V3.0</title>
        
        <!-- Lien vers le fichier CSS Tailwind compilé -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>    

    <body class="bg-gray-100 text-gray-900">
        <!-- Bandeau SVG -->
        <div class="w-full bg-white-500">
            <img src="{{ url_for('static', filename='images/bandeau.svg') }}" alt="Bandeau" class="mx-auto max-w-full h-auto py-4" style="max-width: 60%;">
        </div>
        <header>
            {% if request.endpoint != 'login' %}
            <nav class="container mx-auto">
                <ul class="flex justify-center gap-4">
                    <li>
                        <a href="{{ url_for('track') }}" class="btn btn-secondary flex items-center justify-center">
                            <span class="flex justify-center">Track</span>
                            <img src="{{ url_for('static', filename='images/track.png') }}" class="h-3 w-3" alt="Track icon" style="height: 3rem;margin-top:2px;">
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('spot') }}" class="btn btn-secondary flex items-center justify-center gap-[0.2rem]">
                            <span class="flex justify-center">Spot</span>
                            <img src="{{ url_for('static', filename='images/spot.png') }}" class="h-3 w-3" alt="Spot icon" style="height: 3rem;margin-top:2px;">
                        </a>
                    </li>
                    {% if current_user.is_authenticated and current_user.level >= 48 %}
                    <li>
                        <a href="{{ url_for('manage') }}" class="btn btn-purple flex items-center justify-center gap-[0.2rem]">
                            <span class="flex justify-center">Manage</span>
                            <img src="{{ url_for('static', filename='images/manage.png') }}" class="h-3 w-3" alt="Manage icon" style="height: 3rem;margin-top:2px;">
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn btn-logout flex items-center justify-center gap-[0.2rem]">
                            <span class="flex justify-center">Logout</span>
                            <img src="{{ url_for('static', filename='images/logout.png') }}" class="h-3 w-3" alt="Logout icon" style="height: 3rem;margin-top:2px;">
                        </a>
                    </li>
                </ul>
            </nav>
            {% endif %}
                 
        </header>
        
        
        
        <!-- Contenu principal -->
        <main class="container mx-auto py-8">
            <div id="app" class="content bg-white p-6 shadow-md rounded-lg">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
        <!-- Footer avec licence et crédits -->
        <footer class="bg-gray-800 text-white text-center justify-between p-4">
            <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
                <a property="dct:title" rel="cc:attributionURL" href="https://github.com/Redcat468/Cardtracker-V3">Card Tracker V3.0</a> by 
                <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://github.com/Redcat468">Félix Abt - Cairn Studios</a> 
                is licensed under 
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC-SA 4.0</a>
                <span class="flex justify-center items-center space-x-1">
                    <img style="height:22px;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
                    <img style="height:22px;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
                    <img style="height:22px;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="">
                    <img style="height:22px;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="">
                </span>
            </p>
        </footer>

        <!-- Lien vers Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.js"></script>
    </body>
</html>
