<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card Tracker V3.0</title>
        
        <!-- Lien vers le fichier CSS Tailwind compilé -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>    

    <body class="bg-gray-100 text-gray-900">
        <!-- Bandeau SVG -->
        <div class="w-full bg-white-500">
            <img src="{{ url_for('static', filename='images/bandeau.svg') }}" alt="Bandeau" class="mx-auto max-w-full h-auto py-4" style="max-width: 60%;">
        </div>
        <header>
            {% if request.endpoint != 'login' %}
            <nav class="container mx-auto">
                <ul class="flex justify-center space-x-4">
                    <li>
                        <a href="{{ url_for('track') }}" class="btn btn-secondary">Track</a>
                    </li>
                    <li>
                        <a href="{{ url_for('spot') }}" class="btn btn-secondary">Spot</a>
                    </li>
                    {% if current_user.is_authenticated and current_user.level >= 47 %}
                        <li>
                            <a href="{{ url_for('manage') }}" class="btn btn-purple">Manage</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('logout') }}" class="btn btn-logout">Logout</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
                 
        </header>
        
        
        
        <!-- Contenu principal -->
        <main class="container mx-auto py-8">
            <div id="app" class="content bg-white p-6 shadow-md rounded-lg">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        
        <!-- Footer avec informations génériques -->
        <footer class="bg-gray-800 text-white text-center py-4 mt-8">
            <p>&copy; 2025 Card Tracker V3.0 | All rights reserved.</p>
        </footer>

        <!-- Lien vers Vue.js -->
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.js"></script>

        <!-- Lien vers le fichier JS personnalisé -->
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
