{% extends "layout.html" %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">Spot Cards</h2>

<!-- Include TimelineJS -->
<script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

<!-- Onglets de navigation -->
<ul class="flex border-b" id="tabs">
    <li class="mr-1">
        <a href="#" onclick="showTab('card_focus')"
        class="tab-link bg-white inline-block py-2 px-4 text-blue-500 font-semibold" 
           data-tab="card_focus">Card Focus</a>
    </li>
    <li class="mr-1">
        <a href="#" onclick="showTab('user_focus')" class="tab-link bg-white inline-block py-2 px-4 text-blue-500 font-semibold" 
           data-tab="user_focus">User Focus</a>
    </li>
    <li class="mr-1">
        <a href="#" onclick="showTab('status_geo')" class="tab-link bg-white inline-block py-2 px-4 text-blue-500 font-semibold" 
           data-tab="status_geo">Géo Focus</a>
    </li>
    <li class="mr-1">
        <a href="#" onclick="showTab('offload_focus')" class="tab-link bg-white inline-block py-2 px-4 text-blue-500 font-semibold" 
           data-tab="offload_focus">Offload Focus</a>
    </li>
</ul>

<!-- Tab content -->
<div id="tab_content" class="mt-4">

    <!-- User Focus tab -->
    <div id="user_focus" class="tab">
    
        <!-- Champ de sélection de l'utilisateur -->
        <form method="POST" action="{{ url_for('spot') }}">
            <input type="hidden" name="action" value="user_focus">
            <input type="hidden" name="current_tab" value="user_focus">
            <div class="flex items-center space-x-4">
                <select id="user_input" name="selected_user" class="border p-2 rounded w-1/3">
                    <option value="" selected>-- Sélectionnez un utilisateur --</option>
                    {% for user in users %}
                        <option value="{{ user.username }}" {% if selected_user == user.username %}selected{% endif %}>
                            {{ user.username }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    Rechercher
                </button>
            </div>
        </form>

    
        <!-- Tableau des opérations associées à l'utilisateur sélectionné -->
        {% if selected_user and user_operations %}
        <div class="mt-4">
            <h4 class="text-lg font-semibold mb-2">Opérations de l'utilisateur : {{ selected_user }}</h4>
            <table class="min-w-full table-auto border">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2 border">Nom de la Carte</th>
                        <th class="px-4 py-2 border">Statut Géo</th>
                        <th class="px-4 py-2 border">Statut Offload</th>
                        <th class="px-4 py-2 border">Timestamp</th>
                        <th class="px-4 py-2 border">Actions</th> <!-- Nouvelle colonne -->
                    </tr>
                </thead>
                <tbody>
                    {% for operation in user_operations %}
                        <tr>
                            <td class="border px-4 py-2">{{ operation.card_name }}</td>
                            <td class="border px-4 py-2">{{ operation.statut_geo }}</td>
                            <td class="border px-4 py-2">{{operation.offload_status}}</td>
                            <td class="border px-4 py-2">{{ operation.timestamp }}</td>
                            <td class="border px-4 py-2">
                                <form method="POST" action="{{ url_for('spot') }}">
                                    <input type="hidden" name="action" value="card_focus">
                                    <input type="hidden" name="selected_card" value="{{ operation.card_name }}">
                                    <button type="submit" class="text-blue-500 hover:underline">Voir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    

    <!-- Card Focus tab -->
    <div id="card_focus" class="tab">

        <!-- Sélection de carte avec menu déroulant filtré -->
        <form method="POST" action="{{ url_for('spot') }}">
            <input type="hidden" name="current_tab" value="card_focus">
            <input list="card_list" id="card_input" name="selected_card" placeholder="Chercher une carte..." class="border p-2 rounded w-1/3" oninput="filterOptions('card_input', 'card_list')" value="{{ selected_card if selected_card is not none }}">
            <datalist id="card_list">
                {% for card in cards %}
                    <option value="{{ card.card_name }}">{{ card.card_name }}</option>
                {% endfor %}
            </datalist>

            <input type="hidden" name="action" value="card_focus">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Sélectionner la carte</button>
        </form>

        <!-- Affichage des informations de la carte sélectionnée -->
        {% if card_info %}
            <div class="p-4 mt-4 bg-gray-100 rounded shadow-lg">
                <h4 class="text-xl font-bold">{{ card_info.card_name }} - Informations</h4>
                <ul>
                    <li><strong>Statut offload</strong> {{ card_info.offload_status }}</li>
                    <li><strong>Capacité:</strong> {{ card_info.capacity }} Go</li>
                    <li><strong>Marque:</strong> {{ card_info.brand }}</li>
                    <li><strong>Type:</strong> {{ card_info.card_type }}</li>
                    <li><strong>Date de naissance:</strong> {{ card_info.card_birth }}</li>
                    <li><strong>Statut de quarantaine:</strong> {{ 'Oui' if card_info.quarantine else 'Non' }}</li>
                    <li><strong>Usage:</strong> {{ card_info.usage }}</li>
                </ul>
        
                <!-- Bouton "Mettre à jour la carte" -->
                <form method="GET" action="{{ url_for('track') }}" class="inline-block mt-4">
                    <input type="hidden" name="source" value="{{ card_info.statut_geo }}">
                    <input type="hidden" name="card" value="{{ card_info.card_name }}">
                    <button type="submit" class="btn">
                        Mettre à jour la carte
                    </button>
                </form>
            </div>
        {% endif %}

        <!-- Affichage de la timeline -->
        {% if selected_card %}
            <h4 class="mt-4 text-lg font-semibold">Timeline pour la carte {{ selected_card }}</h4>
            <div id="timeline-embed" style="width: 100%; height: 400px"></div>
            <script>
                var timeline_data = {{ timeline_data | tojson }};
                window.timeline = new TL.Timeline('timeline-embed', timeline_data);

                // Positionner automatiquement sur le dernier événement
                window.timeline.on('loaded', function() {
                    const defaultPosition = timeline_data.default_position;
                    if (defaultPosition !== undefined && defaultPosition >= 0) {
                        window.timeline.goTo(defaultPosition);
                    }
                });
            </script>
        {% endif %}
    </div>

    <!-- Statut Géo tab -->
    <div id="status_geo" class="tab">

        <form method="POST" action="{{ url_for('spot') }}">
            <input type="hidden" name="action" value="status_geo">
            <input type="hidden" name="current_tab" value="status_geo">
            <div class="flex items-center space-x-4">
                <select id="status_input" name="selected_status" class="border p-2 rounded w-1/3">
                    <option value="" selected>-- Sélectionnez un statut --</option>
                    {% for status in status_geo %}
                        <option value="{{ status.status_name }}" {% if selected_status == status.status_name %}selected{% endif %}>
                            {{ status.status_name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    Rechercher
                </button>
            </div>
        </form>

        {% if selected_status and cards_by_status %}
        <div class="mt-4">
            <h4 class="text-lg font-semibold mb-2">Cartes pour le statut : {{ selected_status }}</h4>
            <table class="min-w-full table-auto border">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2 border">Nom de la Carte</th>
                        <th class="px-4 py-2 border">Capacité</th>
                        <th class="px-4 py-2 border">Type</th>
                        <th class="px-4 py-2 border">Dernière Opération</th>
                        <th class="px-4 py-2 border">Utilisateur</th>
                        <th class="px-4 py-2 border">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card, last_operation_date, last_user in cards_by_status %}
                        <tr>
                            <td class="border px-4 py-2">{{ card.card_name }}</td>
                            <td class="border px-4 py-2">{{ card.capacity }} Go</td>
                            <td class="border px-4 py-2">{{ card.card_type }}</td>
                            <td class="border px-4 py-2">
                                {% if last_operation_date %}
                                    {{ last_operation_date.strftime('%Y-%m-%d %H:%M:%S') if last_operation_date.__class__.__name__ == 'datetime' else last_operation_date }}
                                {% else %}
                                    Aucune
                                {% endif %}
                            </td>
                            <td class="border px-4 py-2">
                                {% if last_user %}
                                    {{ last_user }}
                                {% else %}
                                    Aucun utilisateur
                                {% endif %}
                            </td>
                            <td class="border px-4 py-2">
                                <form method="POST" action="{{ url_for('spot') }}">
                                    <input type="hidden" name="action" value="card_focus">
                                    <input type="hidden" name="selected_card" value="{{ card.card_name }}">
                                    <button type="submit" class="text-blue-500 hover:underline">Voir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}        
        
    </div>

    <div id="offload_focus" class="tab">
        <form method="POST" action="{{ url_for('spot') }}">
            <input type="hidden" name="action" value="offload_focus">
            <input type="hidden" name="current_tab" value="offload_focus">
            <div class="flex items-center space-x-4">
                <select id="offload_input" name="selected_offload" class="border p-2 rounded w-1/3">
                    <option value="" selected>-- Sélectionnez un statut offload --</option>
                    {% for status in offload_statuses %}
                        <option value="{{ status.status_name }}" {% if selected_offload == status.status_name %}selected{% endif %}>
                            {{ status.status_name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    Rechercher
                </button>
            </div>
        </form>
    
        {% if selected_offload and cards_by_offload %}
        <div class="mt-4">
            <h4 class="text-lg font-semibold mb-2">Cartes pour le statut offload : {{ selected_offload }}</h4>
            <table class="min-w-full table-auto border">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2 border">Nom de la Carte</th>
                        <th class="px-4 py-2 border">Type</th>
                        <th class="px-4 py-2 border">Statut Géo</th>
                        <th class="px-4 py-2 border">Dernière Opération</th>
                        <th class="px-4 py-2 border">Utilisateur</th>
                        <th class="px-4 py-2 border">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card, last_timestamp, last_user in cards_by_offload %}
                    <tr>
                        <td class="border px-4 py-2">{{ card.card_name }}</td>
                        <td class="border px-4 py-2">{{ card.card_type }}</td>
                        <td class="border px-4 py-2">{{ card.statut_geo }}</td>
                        <td class="border px-4 py-2">
                            {% if last_timestamp %}
                                {{ last_timestamp.strftime('%Y-%m-%d %H:%M:%S') if last_timestamp.__class__.__name__ == 'datetime' else last_timestamp }}
                            {% else %}
                                Aucune
                            {% endif %}
                        </td>
                        <td class="border px-4 py-2">
                            {% if last_user %}
                                {{ last_user }}
                            {% else %}
                                Aucun utilisateur
                            {% endif %}
                        </td>
                        <td class="border px-4 py-2">
                            <form method="POST" action="{{ url_for('spot') }}">
                                <input type="hidden" name="action" value="card_focus">
                                <input type="hidden" name="selected_card" value="{{ card.card_name }}">
                                <button type="submit" class="text-blue-500 hover:underline">Voir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}                    
                    
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const tabs = document.querySelectorAll('.tab-link');
        const tabContents = document.querySelectorAll('.tab');

        // Récupérer l'onglet actif envoyé par le serveur (si présent)
        const activeTabFromServer = "{{ current_tab }}";

        function setActiveTab(tabName) {
            // Réinitialiser tous les onglets
            tabs.forEach(tab => {
                tab.classList.remove('border-b-4', 'border-blue-500', 'text-blue-600');
                tab.classList.add('text-blue-500');
            });

            // Réinitialiser tout le contenu
            tabContents.forEach(content => content.classList.add('hidden'));

            // Activer l'onglet et afficher son contenu
            const activeTab = document.querySelector(`.tab-link[data-tab="${tabName}"]`);
            const activeContent = document.getElementById(tabName);

            if (activeTab) {
                activeTab.classList.add('border-b-4', 'border-blue-500', 'text-blue-600');
                activeTab.classList.remove('text-blue-500');
            }

            if (activeContent) {
                activeContent.classList.remove('hidden');
            }
        }

        // Ajouter les gestionnaires d'événements pour chaque onglet
        tabs.forEach(tab => {
            tab.addEventListener('click', event => {
                event.preventDefault();
                const tabName = tab.getAttribute('data-tab');
                setActiveTab(tabName);
            });
        });

        // Définir l'onglet actif après rechargement
        const initialTab = activeTabFromServer || 'user_focus'; // Défaut : user_focus
        setActiveTab(initialTab);
    });
</script>
    

<script>
    // Gestion des onglets
    function showTab(tabName) {
        var tabs = document.getElementsByClassName('tab');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].style.display = 'none';
        }
        document.getElementById(tabName).style.display = 'block';
    }

    // Activer l'onglet correspondant
    document.addEventListener('DOMContentLoaded', function() {
        const activeTab = "{{ current_tab }}";
        showTab(activeTab);
    });
</script>

{% endblock %}
