{% extends "layout.html" %}

{% block content %}
<div class="flex items-center justify-center h-full space-x-4">
    <img src="{{ url_for('static', filename='images/track.png') }}" alt="Target Icon" 
        style="height: 3rem; width: auto;">
    <h1 style="font-size: 2rem; font-weight: 600;">Track Cards</h1>
    <div style="margin-bottom: 5rem;"></div>
</div>

<!-- Bloc de gestion des cartes -->
<div class="mb-8 flex justify-center">
    <form method="POST" action="{{ url_for('track') }}" class="w-full max-w-xs" style="max-width: 500px;">
        <!-- Champ Source -->
        <div class="mb-4 flex items-center">
            <div class="flex items-center justify-center h-full">
                <img src="{{ url_for('static', filename='images/source.png') }}" alt="Source Icon" 
                    style="height: 2rem; width: auto;margin-right: 1rem;">
            </div>
            <div class="w-full">
                <label for="source" class="block text-sm font-medium text-gray-700">Source</label>
                <select id="source" name="source" class="border p-2 rounded w-full" onchange="updateCards()">
                    {% for status in status_geo %}
                        <option value="{{ status.status_name }}" 
                                {% if status.status_name == selected_source %}selected{% endif %}>
                            {{ status.status_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Champ Target -->
        <div class="mb-4 flex items-center">
            <div class="flex items-center justify-center h-full">
                <img src="{{ url_for('static', filename='images/target.png') }}" alt="Target Icon" 
                    style="height: 2rem; width: auto;margin-right: 1rem;">
            </div>
            <div class="w-full">
                <div class="flex items-center justify-between" style="gap: 1rem">
                    <label for="target" class="block text-sm font-medium text-gray-700">Cible</label>
                    <div class="flex items-center">
                        <input type="checkbox" id="no_move" name="no_move" 
                            {% if offload_only %}checked{% endif %} onchange="toggleTarget()">
                        <label for="no_move" class="ml-2 text-sm text-gray-700" style="font-style: italic;">Offload uniquement</label>
                    </div>
                </div>
                <select id="target" name="target" class="border p-2 rounded w-full"
                        {% if offload_only %}disabled{% endif %}>
                    {% for status in status_geo %}
                        <option value="{{ status.status_name }}" 
                                {% if status.status_name == selected_target %}selected{% endif %}>
                            {{ status.status_name }}
                        </option>
                    {% endfor %}
                </select>
                <script>
                    function toggleTarget() {
                        const noMoveCheckbox = document.getElementById('no_move');
                        const target = document.getElementById('target');
                        const source = document.getElementById('source');

                        if (noMoveCheckbox.checked) {
                            target.disabled = true;
                            target.value = source.value; // Synchroniser la cible avec la source
                            target.style.backgroundColor = '#e5e7eb';
                        } else {
                            target.disabled = false;
                            target.style.backgroundColor = '';
                        }
                    }

                    // Initialiser l'état au chargement
                    document.addEventListener('DOMContentLoaded', function () {
                        toggleTarget();
                    });
                </script>
            </div>
        </div>


        <!-- Sélection de carte avec menu déroulant filtré -->
        <div class="mb-4 flex items-center">
            <div class="flex items-center justify-center h-full">
                <img src="{{ url_for('static', filename='images/sdcard.png') }}" alt="SD Card Icon" 
                    style="height: 2rem; width: auto;margin-right: 1rem;">
            </div>
            <div class="w-full">
                <label for="card_input" class="block text-sm font-medium text-gray-700">Carte</label>
                <input list="card_list" id="card_input" name="card" placeholder="Chercher une carte..." 
                class="border p-2 rounded w-full" value="{{ preloaded_card if preloaded_card else '' }}">            
                <!-- Modification du datalist -->
                <datalist id="card_list">
                    <!-- Les options seront chargées dynamiquement -->
                </datalist>
            </div>
        </div>

        <!-- Statut actuel de l'offload -->
        <div id="current_offload_status" class="mb-4 text-sm text-gray-700 flex justify-center">
            <!-- Ce contenu sera mis à jour dynamiquement via JavaScript -->
        </div>

        <!-- Champ Statut Offload -->
        <div class="mb-4 flex items-center">
            <div class="flex items-center justify-center h-full">
                <img src="{{ url_for('static', filename='images/offload.png') }}" alt="Offload Icon" 
                    style="height: 2rem; width: auto;margin-right: 1rem;">
            </div>
            <div class="w-full">
                <label for="offload_status" class="block text-sm font-medium text-gray-700">Nouveau statut offload</label>
                <select id="offload_status" name="offload_status" class="border p-2 rounded w-full">
                    {% for status in offload_statuses %}
                        <option value="{{ status.status_name }}" 
                                {% if selected_offload_status == status.status_name %}selected{% endif %}>
                            {{ status.status_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>



        <div class="flex justify-center">
            <button type="submit" name="move_card" class="btn">Enregistrer</button>
        </div>
    </form>
</div>


<!-- Historique des opérations -->
<div class="mb-8">
    <h3 class="text-lg font-semibold mb-2">Historique des opérations</h3>
    <table class="min-w-full table-auto">
        <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2">Card Name</th>
                <th class="px-4 py-2">Statut Géo</th>
                <th class="px-4 py-2">Statut Offload</th> <!-- Nouvelle colonne -->
                <th class="px-4 py-2">Timestamp</th>
                <th class="px-4 py-2">Username</th>
                <th class="px-4 py-2">Annuler</th>
            </tr>
        </thead>
        <tbody id="operations_table_body">
            <!-- Les opérations seront ajoutées dynamiquement ici -->
        </tbody>
    </table>
</div>

<script>
    function preloadCard() {
        const preloadedCard = "{{ preloaded_card }}";
        const datalist = document.getElementById('card_list');
        const cardInput = document.getElementById('card_input');

        if (preloadedCard) {
            const existingOption = Array.from(datalist.options).find(option => option.value === preloadedCard);
            if (!existingOption) {
                const option = document.createElement('option');
                option.value = preloadedCard;
                datalist.appendChild(option);
            }
            cardInput.value = preloadedCard;
        }
    }

    document.addEventListener('DOMContentLoaded', preloadCard);
</script>

<script>
    let availableCards = [];

    function preloadCard() {
        const preloadedCard = "{{ preloaded_card }}";
        const datalist = document.getElementById('card_list');
        const cardInput = document.getElementById('card_input');

        if (preloadedCard) {
            // Attendre que les cartes soient chargées depuis la source
            setTimeout(() => {
                const existingOption = Array.from(datalist.options).find(option => option.value === preloadedCard);
                if (!existingOption) {
                    const option = document.createElement('option');
                    option.value = preloadedCard;
                    datalist.appendChild(option);
                }
                cardInput.value = preloadedCard;
                
                // Forcer la validation et la mise à jour du statut offload
                updateOffloadStatus();
            }, 500); // Délai pour laisser le temps au fetch de s'exécuter
        }
    }

    // Exécuter updateCards() au chargement si une source est pré-chargée
    document.addEventListener('DOMContentLoaded', function() {
        const preloadedSource = "{{ preloaded_source }}";
        if (preloadedSource) {
            // Déclencher manuellement le chargement des cartes
            updateCards();
            
            // Après le chargement, pré-remplir la carte
            setTimeout(preloadCard, 200);
        }
    });
</script>


<script>
    // Fonction pour récupérer les opérations
    function fetchOperations() {
        fetch('/get_operations')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('operations_table_body');
                tableBody.innerHTML = ''; // Réinitialiser le tableau
                data.forEach(operation => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td class="border px-4 py-2">${operation.card_name}</td>
                        <td class="border px-4 py-2">${operation.statut_geo}</td>
                        <td class="border px-4 py-2">${operation.offload_status}</td>
                        <td class="border px-4 py-2">${operation.timestamp}</td>
                        <td class="border px-4 py-2">${operation.username}</td>
                        <td class="border px-4 py-2">
                            <button onclick="confirmDeletion(${operation.id})" class="btn btn-logout">Annuler</button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des opérations :', error));
    }

    // Fonction pour confirmer la suppression
    function confirmDeletion(operationId) {
        const confirmation = confirm("Êtes-vous sûr de vouloir annuler cette opération ?");
        if (confirmation) {
            fetch(`/cancel_operation/${operationId}`, { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        alert("Opération annulée avec succès.");
                        fetchOperations(); // Mettre à jour le tableau
                    } else {
                        alert("Erreur lors de l'annulation de l'opération.");
                    }
                })
                .catch(error => console.error('Erreur lors de la suppression de cette opération :', error));
        }
    }

    // Mettre à jour l'historique toutes les 5 secondes
    setInterval(fetchOperations, 5000);

    // Charger les opérations immédiatement au chargement de la page
    document.addEventListener('DOMContentLoaded', fetchOperations);
</script>
<script>
    function updateOffloadStatus() {
        const selectedCard = document.getElementById('card_input').value;
        const offloadStatusElement = document.getElementById('current_offload_status');
        const offloadSelect = document.getElementById('offload_status');

        if (selectedCard) {
            fetch(`/get_offload_status/${selectedCard}`)
                .then(response => response.json())
                .then(data => {
                    const offloadStatus = data.offload_status || 'Non défini';
                    offloadStatusElement.innerHTML = `Statut Offload Actuel :&nbsp;<strong>${offloadStatus}</strong>`;

                    // Précharger le statut actuel dans le menu déroulant
                    Array.from(offloadSelect.options).forEach(option => {
                        if (option.value === offloadStatus) {
                            option.selected = true;
                        }
                    });
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération du statut d\'offload :', error);
                    offloadStatusElement.innerHTML = '<strong>Erreur lors de la récupération du statut.</strong>';
                });
        } else {
            offloadStatusElement.innerHTML = '<strong>Veuillez sélectionner une carte pour afficher son statut offload.</strong>';
        }
    }

    // Ajoutez l'événement pour mettre à jour le statut lorsqu'une carte est sélectionnée
    document.getElementById('card_input').addEventListener('input', updateOffloadStatus);

    // Appeler la fonction au chargement initial si une carte est déjà sélectionnée
    document.addEventListener('DOMContentLoaded', updateOffloadStatus);
</script>



<script>
    function updateCards() {
        const source = document.getElementById('source').value;
        const datalist = document.getElementById('card_list');
        const cardInput = document.getElementById('card_input');

        // Réinitialiser la valeur du champ d'entrée pour éviter les anciennes sélections
        cardInput.value = '';

        // Récupérer les cartes pour la source sélectionnée
        fetch(`/get_cards_by_status/${source}`)
            .then(response => response.json())
            .then(data => {
                datalist.innerHTML = ''; // Réinitialiser le datalist
                availableCards = []; // Réinitialiser la liste des cartes disponibles
                data.forEach(card => {
                    const option = document.createElement('option');
                    option.value = card.card_name;
                    datalist.appendChild(option);
                    availableCards.push(card.card_name); // Ajouter à la liste disponible
                });
            })
            .catch(error => console.error('Erreur lors de la récupération des cartes :', error));
    }

    document.getElementById('source').addEventListener('change', updateCards);
    document.addEventListener('DOMContentLoaded', updateCards);

</script>

<script>
    function validateAndSubmitForm(event) {
        const source = document.getElementById('source').value;
        const target = document.getElementById('target').value;
        const cardInput = document.getElementById('card_input').value;
        const noMoveCheckbox = document.getElementById('no_move');
        const offloadStatus = document.getElementById('offload_status').value;
        const currentOffloadStatus = document.getElementById('current_offload_status').textContent;

        // Vérification quarantaine
        fetch(`/get_offload_status/${cardInput}`)
            .then(response => response.json())
            .then(data => {
                if (data.quarantine) {
                    event.preventDefault();
                    alert('Cette carte est en quarantaine et ne peut pas être sélectionnée');
                    document.getElementById('card_input').value = '';
                    return;
                }

                // Vérification existence carte
                if (!availableCards.includes(cardInput)) {
                    event.preventDefault();
                    alert('Erreur : La carte sélectionnée n\'est pas disponible dans la source sélectionnée.');
                    return;
                }

                // Vérification offload seulement
                if (noMoveCheckbox.checked) {
                    document.getElementById('target').value = source;
                    if (currentOffloadStatus.includes(offloadStatus)) {
                        event.preventDefault();
                        alert('Erreur : Aucune modification nécessaire du statut offload.');
                        return;
                    }
                }

                // Vérification source/target
                if (source === target && !noMoveCheckbox.checked) {
                    event.preventDefault();
                    alert('Erreur : La source et la cible ne peuvent pas être identiques.');
                    return;
                }

                // Réactivation du champ target si nécessaire
                const targetField = document.getElementById('target');
                if (targetField.disabled) {
                    targetField.disabled = false;
                }
            })
            .catch(error => console.error('Erreur:', error));
    }

    document.querySelector('form').addEventListener('submit', validateAndSubmitForm);
</script>

{% endblock %}